torch~=2.5.1
transformers~=4.47.1
datasets~=3.2.0
fastapi~=0.115.6
pydantic~=2.9.2
uvicorn~=0.34.0
pymongo~=4.11.1
opensearch-py~=2.8.0
python-dotenv~=1.0.1
scikit-learn~=1.5.2
python-jose~=3.4.0
passlib~=1.7.4
starlette~=0.41.3
sentencepiece~=0.2.0